*{
  transition: 0.8s;
}
:root {
  --cursor-point: pointer;
  --button-height: 1.7%;
  --bottom-a: 2.3%;
  --bottom-b: 5.8%;
  --transition-back: 0.4s;
  --opacity-0: 0;
  --opacity-1: 1;
}
img {
  width: 100%;
  top: 0px ;
  left: 0px;
  z-index: 1;
}
button {
  position: absolute;
  background-color: rgb(114, 93, 93);
  opacity: 0;
  z-index: 2;
}
.wrapper {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  aspect-ratio: auto;
}



.b0304 {
  bottom: var(--bottom-a);
  left: 47.1%;
  width: 2.1%;
  height: var(--button-height);
}
.i0304 {
  opacity: var(--opacity-0);
}
.b0304:hover + .i0304 {
  opacity: var(--opacity-1);
  transition: var(--transition-back);
}
.b0304:hover {
  cursor: var(--cursor-point);
}


.b0504 {
  bottom: var(--bottom-a);
  left: 65.1%;
  width: 7.7%;
  height: var(--button-height);
}
.i0504 {
  opacity: var(--opacity-0);
}
.b0504:hover + .i0504 {
  opacity: var(--opacity-1);
  transition: var(--transition-back);
}
.b0504:hover {
  cursor: var(--cursor-point);
}
