.nav-icon{
  width: var(--icon-size);
  height: var(--icon-size);
  position: fixed;
  top: var(--margin-standard);
  left: var(--margin-standard);
  background-color: var(--color-background);
  z-index: 100;
}

.header-background{
  position: fixed;
  width: 100vw;
  height: calc(var(--icon-size) + 2 * var(--margin-standard));
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 8;
}

nav .nav-list{
  position: fixed;
  list-style: none;
  top: 0px;
  left: 0px;
  padding: calc(var(--icon-size) + var(--margin-standard) * 2) 0 0 calc(var(--margin-standard));
  height: 100vh;
  width: 100vw;
  z-index: 99;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

ul li a b{
  font-size: calc(var(--icon-size) * 1);
}

ul li{
  width: calc(100vw - var(--margin-standard) * 2);
  margin: var(--margin-standard) 0;
  height: calc(var(--icon-size) * 1);
  display: grid;
  align-content: center;
}

ul li a{
  width: 100%;
  height: 100%;
}
