.time-line {
  z-index: 3;
  position: fixed;
  left: var(--margin-standard);
  width: calc(100vw - var(--margin-standard) * 2);
  height: calc(100vh - var(--margin-standard) * 3 - var(--icon-size));
  bottom: var(--margin-standard);
}

.svg-lines {
  position: fixed;
  stroke: rgb(194, 194, 194);
  width: 100%;
}

.all-years {
  position: fixed;
  display: flex;
  width: 1200px;
  bottom: var(--margin-standard);
}

.all-years p {
  justify-content: center;
  align-content: center;
  width: 60px;
  color: white;
}
