.projects-name-ul,
.projects-svg-ul {
  position: absolute;
  display: grid;
  left: var(--margin-standard);
  top: calc(var(--margin-standard) * 2 + var(--icon-size));
}

.project-name-li{
  width: calc(100vw - var(--margin-standard) * 2);
  height: var(--font-normal-size);
  margin: var(--margin-small) 0;
  z-index: 2;
  color: black;
}

.project-svg-li{
  width: calc(100vw - var(--margin-standard) * 2);
  height: calc(var(--font-normal-size) + 6px);
  margin: calc(var(--margin-small) - 3px) 0;
}

ul svg{
  stroke: var(--color-stroke-typical);
  stroke-width: calc(var(--font-normal-size) * 1.2);
}
