.wrapper-project-card {
  position: absolute;
  display: grid;
  left: var(--margin-standard);
  top: var(--margin-standard);
  width: calc(100vw - var(--margin-standard) * 2);
}

img {
  width: 100%;
}

th, td {
  text-align: left;
  color: var(--color-text-paragraph);
}