.time-line {
  position: absolute;
  margin: 0;
  left: 0;
  top: calc(var(--margin-standard) * -1);
}

.svg-lines {
  stroke: var(--color-stroke);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.all-years {
  display: flex;
  left: var(--margin-standard);
  top: calc(var(--margin-standard) + var(--icon-size));
  position: sticky;
  border-bottom: 2px solid var(--color-stroke);;
  z-index: 11;
  justify-content: space-around;
}

.all-years p {
  justify-content: center;
  align-content: center;
  color: var(--color-stroke);;
}
