.main-wrapper {
  position: absolute;
  top: calc(var(--margin-standard) * 2 + var(--icon-size));
  left: calc(var(--margin-standard));
  right: calc(var(--margin-standard));
}

.right-name {
  font-size: 24px;
}

.paragraph {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: calc(var(--margin-standard));
  /* flex-wrap: wrap; */
}

.left {
  width: 150px;
  text-wrap: wrap;
  overflow-wrap: break-word;
  hyphens: manual;
  border-right: 2px solid var(--color-stroke-typical);
}

.right {
  flex: 1;
  margin-left: calc(var(--margin-standard));
}

.right-sub {
  margin-bottom: calc(var(--margin-standard));
}

.right-sub-list {
  width: 100%;
  columns: auto 20em;
}

@media screen and (width < 600px) {
  .left{ 
    width: 50px;
    margin-top: 7px;
    writing-mode: vertical-lr;
  }
}

/* ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  columns: 3 auto;
} */


