body {
  width: 2800px;
  height: 4000px;
}

#wrapper-all {
  display: flex;
  position: absolute;
  margin: calc(var(--margin-standard) * 3 + var(--icon-size)) 0 0 var(--margin-standard);
}

.projects-name-ul,
.projects-svg-ul {
  display: grid;
  height: 4000px;
}

.projects-name-ul {
  left: var(--margin-standard);
  top: calc(var(--margin-standard) * 2 + var(--icon-size));
  position: sticky;
  z-index: 3;
}

.projects-svg-ul {
  position: absolute;
  z-index: 2;
}

.project-name-li,
.project-svg-li{
  height: var(--font-normal-size);
  margin: var(--margin-small) 0;
}

.project-name-li{
  z-index: 2;
  color: var(--color-text-paragraph);
}

ul svg{
  stroke: var(--color-stroke-typical);
  stroke-width: calc(var(--font-normal-size) * 1.9);
}
