/* global setting */
*{
  /* font-family: Verdana;
  font: 1rem 'Fira Sans', sans-serif; */
  /* font-weight: 370; */
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-size: var(--font-normal-size);
  color: var(--color-text-paragraph);
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100vw;
  height: 100%;
  background-color: var(--color-background);
}

p {
  font-size: var(--font-normal-size);
  color: var(--color-text-paragraph);
}

:root {
  --icon-size: 50px;
  --font-normal-size: 16px;
  --margin-standard: 25px;
  --margin-small: 10px;
  --icon-fill: #000000;
  --color-text-typical: #40BFBF;
  --color-text-paragraph: rgb(0, 0, 0);
  --color-stroke-typical: #40BFBF;
  --color-background: white;
  --color-stroke:rgb(194, 194, 194)
}
a:hover{
  /* background-color: #f0f0f0; */
  /* scale: 102%; */
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}
