/* button location & dimension #i0000 #b0000*/
#b0108 {
  bottom: var(--bottom-a);
  left: 13.45%;
  width: 1.2%;
}
#b0112 {
  bottom: var(--bottom-a);
  left: 18.6%;
  width: 1.3%;
}
#b0113 {
  bottom: var(--bottom-b);
  left: 19.5%;
  width: 1.2%;
}
#b0114 {
  bottom: var(--bottom-a);
  left: 23.3%;
  width: 2.7%;
}
#b0202 {
  bottom: var(--bottom-b);
  left: 22.4%;
  width: 10.9%;
}
#b0206 {
  bottom: var(--bottom-a);
  left: 31.95%;
  width: 5.2%;
}
#b0301 {
  bottom: var(--bottom-a);
  left: 42.0%;
  width: 0.8%;
}
#b0302 {
  bottom: var(--bottom-a);
  left: 42.8%;
  width: 1.3%;
}
#b0303 {
  bottom: var(--bottom-a);
  left: 44.1%;
  width: 2.1%;
}
#b0304 {
  bottom: var(--bottom-a);
  left: 47.1%;
  width: 2.1%;
}
#b0306 {
  bottom: var(--bottom-a);
  left: 49.2%;
  width: 2.1%;
}
#b0504 {
  bottom: var(--bottom-a);
  left: 65.2%;
  width: 7.8%;
}
#b0505 {
  bottom: var(--bottom-c);
  left: 68.2%;
  width: 2.6%;
}
#b0511 {
  bottom: var(--bottom-b);
  left: 72.5%;
  width: 1.7%;
}
#b0512 {
  bottom: var(--bottom-f);
  left: 73.0%;
  width: 3.4%;
}
#b0513 {
  bottom: var(--bottom-a);
  left: 73.8%;
  width: 0.9%;
}
#b0514 {
  bottom: var(--bottom-b);
  left: 74.2%;
  width: 0.9%;
}
#b0001 {
  bottom: var(--bottom-f);
  left: 69.1%;
  width: 1.25%;
}
