/* after hover or active */
#b0304 {
  bottom: var(--bottom-a);
  left: 47.1%;
  width: 2.1%;
}
#b0504 {
  bottom: var(--bottom-a);
  left: 65.1%;
  width: 7.7%;
}
#b0505 {
  bottom: var(--bottom-c);
  left: 68.3%;
  width: 2.5%;
}
#b0511 {
  bottom: var(--bottom-b);
  left: 72.5%;
  width: 1.7%;
}
#b0512 {
  bottom: var(--bottom-c);
  left: 22.3%;
  width: 2.5%;
}
#b0513 {
  bottom: var(--bottom-a);
  left: 73.7%;
  width: 0.8%;
}
#b0514 {
  bottom: var(--bottom-b);
  left: 74.1%;
  width: 0.8%;
}