/* before the hover or active start */
#i0304, #i0504, #i0505, #i0511, #i0512, #i0513, #i0514 {
  opacity: 0;
}
#b0304:hover,
#b0504:hover,
#b0505:hover,
#b0511:hover,
#b0512:hover,
#b0513:hover,
#b0514:hover {
  cursor: pointer;
}
#b0304:focus + #i0304,
#b0504:focus + #i0504,
#b0505:focus + #i0505, 
#b0511:focus + #i0511, 
#b0512:focus + #i0512, 
#b0513:focus + #i0513, 
#b0514:focus + #i0514 {
  opacity: 1;
  transition: 0.4s;
}