/* transition with anchor pseudo-classes button to img #i0000 #b0000*/
.image {
  opacity: 0;
}
button:hover {
  border-style: dashed;
  cursor: pointer;
  opacity: 0.8;
}
.after {
  opacity: 1;
  transition: 0.4s;
}